OPENAI_API_KEY=내 메모장에 있음
OPENAI_CHAT_MODEL=gpt-5.6-luna
OPENWEATHER_API_KEY=내 메모장에 있음

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=메모장에있음
LANGSMITH_PROJECT="SKN33-Langchain"

TAVILY_API_KEY=메모장에있음

# neo4j
NEO4J_URI=메모장에있음
NEO4J_USERNAME=dd189453
NEO4J_PASSWORD=메모장에있음
NEO4J_DATABASE=dd189453
AURA_INSTANCEID=dd189453
AURA_INSTANCENAME=llm-graph-db

