OPENAI_API_KEY=내 메모장에 있음
OPENWEATHER_API_KEY=내 메모장에 있음


OPENAI_API_KEY=메모장에있음
OPENWEATHER_API_KEY=메모장에있음

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=메모장에있음
LANGSMITH_PROJECT="SKN33-Langchain"
